.btn {
  font-size: 2rem;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  color: #78abae;
}

div > input {
  /* max-width: 350px; */
  background-color: #78abae;
  color: #353535;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  min-width: 50%;
  max-width: 80%;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
